@charset "utf-8";

a{color:0x0000FF !important;}
a:hover{color:0xFF3300 !important;}
a:visited{color:0xFFCCCC !important;}

main {
    font-family: 'Lato', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%
}

h1{
    font-size: 500%;
}


body {
  padding-top: 60px;
}

.navbar
{
	padding:5px;
	display:block;
}
